.principal{
   display: grid;
   /* grid-gap: 5px; */
   grid-template-columns: 40% 40% 20%;
   grid-template-areas: 
   'header header header'
   'content content publi'
   'footer footer footer';
}
#cabebiografia{
   grid-area: header;
   width: 100%;
   height: 680px; 
   background: url(./img/biografia.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center top;
}
#cabebiografia a{
  color:white;
}
#cabebiografia a:hover{
   color: black;
}
article{
   background: #f6f7f2;
}
.tablas{
   display: grid;
   justify-content: space-between;
   grid-template-columns: auto auto;
   grid-template-areas: 
   'areatabla1 areatabla1'
   'areatabla3 areatabla3';
}

#tabla1{
   grid-area: areatabla1;
   background-color: #f2f2f2;
   border-radius: 5px;
   border: 1px solid lightgrey;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
   margin: 20px;
   
}
#tabla1 th{
  background-color: #D5CFE1;    
   color: #464655;
 font-size: medium;
}
#tabla1 td{
   border-top:1px dotted  darkgray;
   border-bottom:1px dotted  darkgray;
   font-size: 0.9em;
   
  }
  #tabla1 :hover{
   animation: fadeInRight 1000ms ease-in-out;
}

#tabla3{
   grid-area: areatabla3;
   background-color: #f2f2f2;
   border-radius: 5px;
   border: 1px solid lightgrey;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
   margin: 20px;
}
#tabla3 :hover{
   animation: fadeInLeft 1000ms ease-in-out;
}
#tabla3 th{
   background-color: #D5CFE1;    
   color: #464655;
   font-size: medium;
  }
#tabla3 td{
     border-top:1px dotted  darkgray;
     border-bottom:1px dotted  darkgray;
     font-size: 0.9em;
     
    }

.publi section{
   display: flex;
   flex-direction: column;
   width: 100%;
}
iframe{
   padding: 2px;
   margin: 2px;
   overflow: hidden;
   align-content: center;
}
h2{
   text-transform: uppercase;
   text-align: center;
   font-size: 0.9em;
   
}



    

/* inicio de media query */
@media (max-width: 768px){
   .principal{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      
   }
   .tablas{
      display: flex;
      flex-direction: column;
      justify-content: center;
      
   }
  
     
   
    
   /* fin media query */
    
}